{%extends 'Base.html'%}
{%block body%}

<fieldset>
	<br><br>	
	<div class='jumbotron'>
    	<form action="#">
       		<p>Username</p><input type="text" placeholder="Enter the username">
       		<p>Password</p><input type="text" placeholder="Enter the password">
       		<br><br><button class= "btn btn-primary" type="submit">SUBMIT</button>
   		</form>
 	</div>
 	<br>
</fieldset>	 
       
<h3>If New User then </h3><h4>Click on CLOUD to REGISTER</h4><a href='Register.html'><i class="fa fa-cloud" style="font-size:48px;color:red;"></i></a>
{%endblock%}
